body.light-theme {
    background-color: #ffffff;
    color: #333333;
}

body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

.code-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Courier New', monospace;
    height: 130px;
    overflow: auto;
}

.license-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    overflow: auto;
}
.license-box pre {
    white-space: pre-wrap;
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

body.light-theme .license-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

body.dark-theme .license-box {
    border: 1px solid #666;
    background-color: #444;
    color: #ffffff;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.feature-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.feature-card h3 {
    margin-top: 0;
}

body.light-theme .feature-card {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

body.dark-theme .feature-card {
    border: 1px solid #666;
    background-color: #444;
    color: #ffffff;
}

